.collection .overlay {
	opacity: 0;
	transition: 200ms ease-in opacity;
}
.collection .collection__title {
	border-bottom: 1px solid transparent;
	transition: 200ms ease-in border-bottom;
}
.collection:hover .overlay {
	opacity: 0.2;
}
.collection:hover .collection__title {
	border-bottom: 1px solid #0d0c22;
}
