@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply bg-accent rounded-lg text-accent-text py-3 px-4 hover:opacity-70 transition font-bold md:w-1/2 w-full font-fira;
	}
}

* {
	box-sizing: inherit;
}

body {
	font-family: Inter;
	box-sizing: border-box;
}

/* width */
.scrollable::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: #00ebc7;
  border-radius: 3px;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #00ebc7;
}

.ribbon {
  transform: rotate(45deg);
  top: 30px;
  right: -90px;
}